.board-tile {
  cursor: pointer;
  border: solid #9f9f9f 3px;
  border-radius: 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.board-tile:hover {
  background-color: #889bfc;
  border: solid #6d83f3 3px;
}
